.sysbtn {
  font-size: 75px;
}

.sysbtn button {
  padding: 20px;
}

.sysbtn ~ button:hover  {
  color: #ffd5cd;
}

.reboot_btn {
  color: #84afdb;
}

.shutdown_btn {
  color: #D35D6E;
}
/*
.lock-side{
  color: #ffd5cd;
}
.suspend-side{
  color: #c47eb7;
}
.logout-side{
  color: #90c861;
}*/