* {
  background-color: unset;
  border: unset;
  border-radius: 10px;
}

/* Power Menu */

.sysbtn {
  font-size: 75px;
}

.sysbtn button {
  /* width - 110px */
  /* e.g. 130 - 110 = 20px */
  /* "110px" depends on font-size */
  padding: 20px;
}

.sysbtn button:hover  {
  color: #ffd5cd;
}

.reboot_btn {
  color: #84afdb;
}

.shutdown_btn {
  color: #D35D6E;
}

.suspend_btn {
  color: #c47eb7;
}

.logout_btn {
  color: #90c861;
}

/* Clock */

.time_hour, .time_min {
	color: #81A1C1;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	color: #EBCB8B;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px -20px;
}