.sysbtn {
  font-size: 75px;
}

.sysbtn button {
  padding: 20px;
}

.sysbtn button:hover  {
  color: #ffd5cd;
}

.reboot_btn {
  color: #84afdb;
}

.shutdown_btn {
  color: #D35D6E;
}

.lock_btn {
  color: #ffd5cd;
}

.suspend_btn {
  color: #c47eb7;
}

.logout_btn {
  color: #90c861;
}