# Systemd swhkd service
#
# /etc/systemd/user/swhkd.service
#
# Init by: systemctl --user enable swhkd.service

[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=%h/.config/swhkd/swhkd.sh

[Install]
WantedBy=default.target
