* {
  border: unset;
  border-radius: 10px;
}

.keepbackground {
  /* TODO take it from the theme */
  background-color: rgb(54, 54, 54);
}

:not(.keepbackground) {
  background-color: transparent;
}

/* Power Menu */

.sysbtn {
  font-size: 75px;
  min-width: 130px;
}

.sysbtn button {
  /* width - 110px */
  /* e.g. 130 - 110 = 20px */
  /* "110px" depends on font-size */
  padding: 20px;
}

.sysbtn button:hover  {
  color: #ffd5cd;
}

.reboot_btn {
  color: #84afdb;
}

.shutdown_btn {
  color: #D35D6E;
}

.suspend_btn {
  color: #c47eb7;
}

.logout_btn {
  color: #90c861;
}

/* Clock */

.clock {
  min-width: 410px;
}

.time_hour, .time_min {
  color: #81A1C1;
  font-size: 70px;
  font-weight: bold;
}
.time_hour {
  margin: 15px 0px 0px 20px;
}
.time_min {
  margin: 0px 0px 10px 0px;
}

.time_mer {
  color: #A3BE8C;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 10px 0px 0px;
}

.time_day {
  color:#EBCB8B;
  font-size: 30px;
  font-weight: normal;
  margin: 0px 10px 20px -20px;
}

/* Weather */

.weather {
  padding-bottom: 62.5px;
}

.iconweather {
  font-size: 120px;
  font-weight: normal;
  margin: 15px 0px 0px 30px;
}

.label_temp {
  color: #A6D1DD;
  font-size: 80px;
  font-weight: bold;
  margin: -15px 30px 0px 0px;
}

.label_stat {
  color: #BF616A;
  font-size: 38px;
  font-weight: bold;
}

/* Volume */

.volume {
  min-width: 130px;
}

.volume label {
  font-size: 50px;
  color: #4a93bb;
}

.volume slider {
  border-radius: 5px;
}

/* Web */
.webbtn {
  min-width: 130px;
  min-height: 130px;

  color: #FFFFFF;
  font-size: 80px;
  font-weight: normal;
}

.github {
  background-color: #24292E;
}

.reddit {
  background-color: #E46231;
}

.youtube {
  background-color: #f93636;
}

.whatsapp {
  background-color: #28a219;
}